* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

p{
    font-size: large;
}



.wrapper{
    width: 70%;
    margin: 0 auto;
}

.header{
	height: 200px;
    background-color: rgba(210,105,30,0.5);
}


a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    padding: 15px;
    float: right;
}

a:hover{
    display: block;
    background-color: maroon;
    border-bottom: 1px solid black;
}
.current{
    border-bottom: 1px solid black;
}

.background {
    height: 2000px;
    background-color: rgba(210,105,30,0.5);
    padding-top: 10%;
}


.footer{
    height: 200px;
    background-color: rgba(210,105,30,0.5);
    position: relative;
}


.strip{
    height: 400px;
    width: 120%;
    margin-top: 0%;
    margin-bottom: 20%;
    margin-left: -10%;
    background-color: maroon;
    text-align: center;
    box-shadow:-20px -20px 10px maroon;
}
.gallery{
    height: 350px;
}

.in_strip{
    width:33.33%;
    height: 100%;
    float: left;
}

.box{
    text-align: center;
    padding: 10% 2% 5% 2%;
}
.introduction{
    position:relative;
    margin-top: 10%;
}
#slider{
    height: 130%;
    width:45%;
    margin-left: 55%;
    position: absolute;
    bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.about_chef{
    width: 40%;
    height: 100%;
    float: right;
}
.left{
    width: 55%;
    height: 100%;
    padding-top: 10%;
    float: left;
}

.right{
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 10%;
}

.about_dish{
    width: 40%;
    height: 100%;
    float: left;
}
.about{
    height: 500px;
    width: 120%;
    margin-left: -10%;
    background-color: maroon;
    box-shadow:-20px -20px 10px maroon;
    text-align: center;
}

.about img{
    display: block;
    width: 90%;
    height: 90%;
}

video{
    margin-top: 25%;
    height: 425px;
    width: 100%;
    object-fit: cover;
    filter:opacity(90%);
}

.container{

    width: 33.33%;
    float: left;
    text-align: center;
    margin-top: 5%;
}

ul {
    list-style: none;
}
.social{
    margin-right: 44%;
}

.fa:hover{
    background-color: maroon;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.menu{
    padding-top: 10%;
}

.strip li{
    padding: 5px;
}

iframe{
    width: 100%;
    height: 100%;
}

form{
    margin-left: 25%;
}
#submit{
    color: black;
    width: 100px;
}
#ask{
    text-align: center;
    margin-bottom: 25px;
}

@media only screen and (max-width: 800px) {

    *{
        margin: 0 auto;
        padding: 0;
    }

    a{
        display: block;
        width: 100%;
        text-align: center;
    }

    #slider{
        height: 100%;
        width: 100%;
        position: absolute;
        top:100%;
        margin: 0 auto;   
     }
    
    .left{
      width: 100%;
    }

    .right{
        width: 100%;
    }

    .strip{
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none;
    }

    .introduction{
        padding-top: 20%;
        margin-bottom: 400px;
    }
.in_strip{
    width: 100%;
    height: 33.33%;
    float: none;
    padding-top: 5%;
    font-size: medium;
}

.box p{
    font-size: medium;
}
.gallery div{
    height: 400px;
    padding: 0px;
}

.background{
    height: 2400px;
}

.footer{
    background-color: rgba(210,105,30,0.0);
}
.footer ul{
    display: none;
}
.social{
    float: none;
    display: inline;
}
.about{
    box-shadow: none;
    height: 300px;
    width: 100%;
    margin: auto;
    padding: 0;
}
.about_chef{
    width: 100%;
    height: 300px;
    margin: auto;
    float: none;
}

.about_dish{
    margin-top: 300px;
    width: 100%;
    height: 100%;
    margin:auto;
    float: none;
}

.current{
    border: none;
}
 img{
    display: block;
    width: 100%;
    height: 100%;
}
.info{
    height: 900px;

}
.right{
    background-color: maroon;
}
video{
    margin-top: 0;
}


    }

